{% extends 'codeload/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Статус решения</th>
        </tr>
    </thead>
    <tbody>
        {% for solution in solutions %}
            <tr>
                <td>
                    <a href="/task/{{ solution.task_id }}">
                            {{ solution.task.task_name }}
                    </a>
                </td>
                <td>
                    {{ solution.created_by }}
                </td>
                <td>
                    {% if solution.running %}
                        Тестируется
                    {% else %}
                        {% if solution.tests_passed >= 0 %}
                            Частичное решение, тест {{ solution.tests_passed }}
                        {% else %}
                            Полное решение
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}